*{
    padding: 0;
    margin: 0;
    /*background-color: #282c34;*/
    background-color: #bae6fd;
}

body{
    display: flex;
    flex-wrap: wrap;
}
#header{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    /*font-weight: 600;*/
    width: 100%;
    height: 70px;
    /*text-align: center;*/
    border: black solid 5px;
    /*border-bottom: #3b0764 5px solid;*/
    /*background: #7842e1;*/
    color: black;
    line-height: 70px;
    float: right;
    margin-bottom: 5px;}


.body-teg {
    /*flex-wrap: wrap;*/
    display: flex;
    flex-direction: row;
}

#image {
    border: black solid 5px;
    margin: 10px;
}

#main {
    background-color: #38bdf8;
    border: black solid 5px;
    display: flex;
    width: 800px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    flex-direction: column;
}

.form-element, .ui-button {
    margin: 5px;
}


#table-div {
    background-color: #93c5fd;
    margin-left: 5%;
    width: 90%;
    border: black solid 5px;
    justify-content: center;
    /*justify-content: space-around;*/
    display: flex;
    flex-direction: row;
    text-align: center;
}

.result-table {
    /*border: 2px #463255 solid;*/
    /*width: 100%;*/
    /*margin-left: 2.5%;*/
    /*margin-top: 10px;*/
    text-align: center;
    border-collapse: collapse;
    background: #3b82f6; /* 400 */
    border: black 2px solid;
}
th{
    background: #1e40af;    /* 800* */
    color: white;
    padding: 5px;
}
td{
    padding: 5px;
}
tr{
    border: 1px black solid;
}
tr:nth-child(odd){
    background: #60a5fa; /* 200 */
}

tr:hover{
    background: #dbeafe; /* 100 */
    cursor: pointer;
}
