* {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
* > body{
    background-color: #bae6fd;
}

body {
    display: flex;
    flex-direction: column;
}

.text {
    margin: 5%;
    text-align: center;
}
.result-table {
    margin: 3%;
    /*border: 2px #463255 solid;*/
    /*width: 100%;*/
    /*margin-left: 2.5%;*/
    /*margin-top: 10px;*/
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    background: #3b82f6; /* 400 */
    border: black 2px solid;
}
th{
    background-color: #282c34;
    /*background: #1e40af;    !* 800* *!*/
    color: white;
    padding: 5px;
}
td{
    padding: 5px;
}
tr{
    border: 1px black solid;
}


.ui-button{
    width: 90%;
    margin: auto;
    height: 20%;
    /*font-family: 'Montserrat Alternates', sans-serif;*/
    font-size: 16px;
    font-weight: 400;
    background: #282c34 ;
    color: white;
    border-radius: 10px;
    /*width: 300px;*/
    /*height: 100px;*/
    /*float: right;*/
    cursor: pointer;
}

.ui-button:hover{
    box-shadow: 0 15px 65px #94a3b8;
}



